.root{
    -fx-background-color: #ffffff;
}
.button{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.label{
    -fx-text-fill: #e2dbdb;
}
.text-field{
    -fx-background-radius: 10;
}
.rectangle{
    -fx-background-radius: 30;
}