.root{
    -fx-background-color: #ffffff;
}
.button{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.text-field{
    -fx-background-radius: 10;
}
.list-view{
    -fx-border-color: #ffffff;
    -fx-focus-color: #ffffff;
    -fx-faint-focus-color: #ffffff
 }
.list-cell{
    -fx-background-color: #ffffff;
}
.list-view:focused .list-cell:filled:focused:selected{
    -fx-background-color: dodgerblue;
}
.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}
.menu-bar {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}